<h2>CRATE NEW CELEBRITY</h2>

<form action="/celebrities" method="post">
  <label for="">NAME</label>
  <input type="text" name="name" id="">
  <label for="">OCCUPATION</label>
  <input type="text" name="occupation">
  <label for="">CATCH PHRASE</label>
  <input type="text" name="catchPhrase" id="">
  <button type="submit">add new celebrity</button>
</form>